@import "../../styles//Variables.scss";

.main-container{
   margin: 10vh 20vh 10vh 25vh
}

.thumbnail{
    width: 13vh;
    height: 13vh;
    border-radius: 10px;
    cursor: pointer;
}

.active{
    border: 2px solid $orange;
    opacity: 30%;

}
.main-pic{
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image-selector{
    display: flex;
    justify-content: space-between;

    button{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .main-container{
        margin: 0vh 0vh
     }
     .thumbnail{
        display: none;
    }
    .main-pic{
        border-radius: 0px;
        width: 100vw;
        height: 60vh;
    }
    .image-selector{
    
        button{
            display: flex;
            position: absolute;
            top: 40vh;
            padding: 10px;
            border-radius: 50%;

            img{
                height: 10px;
            }
        }

        .prev-btn{
            right:  90vw;
        }
        .next-btn{
            left: 90vw;
        }
    }
}