@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import "../styles/Variables.scss";

.header-container{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 3vh 10vw;
    padding-bottom: 4vh;
    border-bottom: 1px solid rgb(203, 199, 199);
}

.burger-menu-container{
    display: none;
}

.header-text{
    display: flex;
    align-items: center;
    .header-title{
        margin-right: 3vw;
        margin-top: 1vh;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: -1px;
    }
    .header-links > *{
        text-decoration: none;
        margin: 1.2vw;
        font-size: 14px;
        color: $gray-color
    }
}

.header-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .avatar{
        height: 8vh;
        margin-left: 3vw;
    }
    .cart{
        height: 3.3vh;    
    }
    p{
        display: flex;
        background-color: $orange;
        border-radius: 50%;
        font-size: 10px;
        padding: 1px 4px;
        color: $white;
        z-index: 100;
        position: absolute;
        top:20px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 376px) {
    .header-container{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        padding-bottom: 4vh;
        margin: 3vh 5vw 0vh 5vw;
        border-bottom: 0px;
    }
    .header-links > *{
        display: none;
    }
    .header-text{
        display: flex;
    }

    .burger-menu-container{
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-right: 15px;

    }
}

